<div
  class="row justify-content-center h text-center "
>
  <div class="col-3">
    <a [routerLink]="['/projects']" routerLinkActive="active">
      <div class="btn" style="border-bottom: 1px solid rgb(32, 52, 79);">
        <h4 class="h4 " >Projectos</h4>
      </div>
    </a>
  </div>

  <div class="col-3">
    <a [routerLink]="['/blog']" routerLinkActive="active" >
      <div class="btn " style="border-top: 1px solid rgb(32, 52, 79);">
          <h4 class="h4" >Blog</h4>
      </div>
    </a>
  </div>

  <div class="col-3">
    <a [routerLink]="['/contact']" routerLinkActive="active" >
      <div class="btn "style="border-bottom: 1px solid rgb(32, 52, 79);">
        <h4 class="h4" >Contacto</h4>
      </div>
    </a>
  </div>

</div>